<!doctype html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="/static/tolls.css" />
  </head>
  <body>
    <div id="map"></div>
    <div class="tools">
      <h2>Select toll/grantry</h2>
      <form id="pbf" method="get" action="/">
        <div>
          <label for="region">Region</label>
          <select id="region" name="region">
            <option value="alabama">Alabama</option>
            <option value="alaska">Alaska</option>
            <option value="arizona">Arizona</option>
            <option value="arkansas">Arkansas</option>
            <option value="california">California</option>
            <option value="colorado">Colorado</option>
            <option value="connecticut">Connecticut</option>
            <option value="delaware">Delaware</option>
            <option value="district-of-columbia">District of Columbia</option>
            <option value="florida">Florida</option>
            <option value="georgia">Georgia</option>
            <option value="hawaii">Hawaii</option>
            <option value="idaho">Idaho</option>
            <option value="illinois">Illinois</option>
            <option value="indiana">Indiana</option>
            <option value="iowa">Iowa</option>
            <option value="kansas">Kansas</option>
            <option value="kentucky">Kentucky</option>
            <option value="louisiana">Louisiana</option>
            <option value="maine">Maine</option>
            <option value="maryland">Maryland</option>
            <option value="massachusetts">Massachusetts</option>
            <option value="michigan">Michigan</option>
            <option value="minnesota">Minnesota</option>
            <option value="mississippi">Mississippi</option>
            <option value="missouri">Missouri</option>
            <option value="montana">Montana</option>
            <option value="nebraska">Nebraska</option>
            <option value="nevada">Nevada</option>
            <option value="new-hampshire">New Hampshire</option>
            <option value="new-jersey">New Jersey</option>
            <option value="new-mexico">New Mexico</option>
            <option value="new-york">New York</option>
            <option value="north-carolina">North Carolina</option>
            <option value="north-dakota">North Dakota</option>
            <option value="ohio">Ohio</option>
            <option value="oklahoma">Oklahoma</option>
            <option value="oregon">Oregon</option>
            <option value="pennsylvania">Pennsylvania</option>
            <option value="puerto-rico">Puerto Rico</option>
            <option value="rhode-island">Rhode Island</option>
            <option value="south-carolina">South Carolina</option>
            <option value="south-dakota">South Dakota</option>
            <option value="tennessee">Tennessee</option>
            <option value="texas">Texas</option>
            <option value="utah">Utah</option>
            <option value="vermont">Vermont</option>
            <option value="virginia">Virginia</option>
            <option value="washington">Washington</option>
            <option value="west-virginia">West Virginia</option>
            <option value="wisconsin">Wisconsin</option>
            <option value="wyoming">Wyoming</option>
          </select>
        </div>
        <div>
          <button type="submit">Update</button>
        </div>
      </form>

      <h2>Select toll/grantry</h2>
      <form id="toll">
        <input type="hidden" id="id" />
        <div>
          <label for="title">Title</label>
          <input type="text" id="title" />
        </div>
        <div>
          <label for="roadway">Roadway</label>
          <input type="text" id="roadway" />
        </div>
        <div>
          <label for="type">Type</label>
          <select id="type">
            <option>gantry</option>
            <option>onramp</option>
            <option>offramp</option>
          </select>
        </div>
        <div>
          <label for="direction">Direction</label>
          <select id="direction">
            <option value="n">Northbound</option>
            <option value="s">Southbound</option>
            <option value="e">Eastbound</option>
            <option value="w">Westbound</option>
          </select>
        </div>
        <p></p>
        <div>
          <button type="submit">Update</button>
          <button type="button">Remove</button>
        </div>
      </form>

      <div class="hidden">
        <h2>OSM Data</h2>
        <p>This should be in JSONL (JSON line delimited) format with each line being a JSON object in reference to a tag</p>
        <form id="osm">
          <textarea>{{.OsmData}}</textarea>
          <button type="submit">Display</button>
        </form>
      </div>

      <div class="hidden">
        <h2>How to obtain the data</h2>
        <p>First obtain the OSM data in PBF format. Current data can be found broken down by states at <a href="https://download.geofabrik.de/north-america/us.html" target="_blank">Geofabrik downloads</a></p>
        <p>Next we need to install a Go command line tool from <a href="https://github.com/pelias/pbf2json" target="_blank">https://github.com/pelias/pbf2json</a> (executables are found in the repository under /bin)</p>
        <p>Finally we need to generate our JSONL file like similar to the following:</p>
        <blockquote>./pbf2json -tags="barrier~toll_booth,highway~toll_gantry" ~/tmp/georgia-latest.osm.pbf > ga-tolls.jsonl </blockquote>
      </div>
    </div>
    <script src="/static/tolls.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<google-maps-key-here>&callback=initMap" async defer></script>
  </body>
</html>
