#map {
  height: 100%%;
  min-height: 100vh;
  width: 66%%;
  display: inline-block;
}

html, body {
  height: 50vh;
  margin: 0;
  padding: 0;
}

.tools {
  width: 30%%;
  display: inline-block;
  vertical-align: top;
  font-size: small;
  padding: 1rem;
}

form {
  margin-bottom: 2rem;
}

form textarea {
  height: 20rem;
}

form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.34rem;
}

form input,
form select,
form textarea {
  width: 100%%;
  display: block;
  margin-bottom: 1.75rem;
}

.hidden {
  display: none;
  visibility: hidden;
}
